.backToTop {
    display: flex;
    position: fixed;
    right: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: -1rem;
    z-index: 99;
    opacity: 0;
    transition: opacity .5s;
    color: var(--primary-color);

    i {
        line-height: 0;
        margin: auto;
    }

    &.active {
        bottom: .5rem;
        opacity: 1;
        cursor: pointer;
    }

    &.bottom {
        bottom: 2.5rem;
    }
}